.timer-container {
  width: 80vh;
  #timer {
    font-size: 10rem;
    text-align: center;
    margin: 0;
    padding: 0;
  }

  .timer-input {
    display: flex;
    justify-content: space-between;
    margin: 10px 50px;

    label {
      margin-right: 15px;
    }

    input {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      border: none;
      background: var(--lightBg);
      font-size: 1.25rem;
      padding: 10px;
    }
  }

  .actions {
    display: grid;
    align-items: center;
    justify-content: center;

    button {
      padding: 0.5rem;
      font-size: 1.5rem;
      border: none;
      color: var(--mainText);
      background-color: var(--mainColor);
      margin: 0.5rem;
      padding: 0.5rem 1rem;
      border-radius: 50%;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
